//importando arquivo de variáveis para utiliza-las em nosso arquivo
@import '../../../sass/styles.scss';

body { padding: $layout-module-size; }

.c-button {
    @extend %u-display-flex, %u-flex-total-centered, %u-no-text-decoration, %u-capitalize;
    background-color: rebeccapurple;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(#000, .25);
    color: #fff;
    padding: $layout-module-size / 2;
    transition: all 150ms ease;
    width: 100px;
    
    &:hover {
        background-color: lighten(rebeccapurple, 15%);
    }
    
    &:active {
        box-shadow: none;
        transform: translatey(2px);
    }
}